<nav class="navbar navbar-dark">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="auth">Authentication</a></li>
        <li routerLinkActive="active"><a routerLink="devices">Devices</a></li>
        <li routerLinkActive="active"><a routerLink="edit">Edit</a></li>
        <li routerLinkActive="active"><a routerLink="users">Users</a></li>
      </ul>

    </div>

</nav>

<div>

    <h1>{{ title }} app is running!</h1>

    <p>You are here since {{ seconds }} seconds !</p>

    <h3>First inner component</h3>

    <app-first-comp></app-first-comp>
</div>

<div class="container">
  <div class="row">
    <router-outlet></router-outlet>
  </div>

</div>
