<div class="col-xs-12">
  <ul class="list-group">

    <p>Updated on {{ lastUpdate | async | date: 'yMMMEEEEd' | uppercase }}</p>

    <app-device *ngFor="let device of devices; let i = index"
                [indexOfDevice]="i"
                [name]="device.name"
                [status]="device.status"
                [id]="device.id"></app-device>
  </ul>

  <button class="btn btn-success"
          [disabled]="!isAuth"
          (click)="onTurnOn()"
  >All ON</button>
  <button class="btn btn-danger"
          [disabled]="!isAuth"
          (click)="onTurnOff()"
  >All Off</button>

  <button class="btn btn-success"
          [disabled]="!isAuth"
          (click)="onSave()"
  >Save to server</button>
  <button class="btn btn-warning"
          [disabled]="!isAuth"
          (click)="onFetch()"
  >Load from server</button>
</div>
2
